.destination-box{
    width: 80%;
    height: auto;
    padding: 20px;
    background-color: white;
    margin: 50px;
    text-align: center;
    text-decoration: underline;

}

.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;

}

.destination{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}